<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fdmassivendp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FDmassiveNDP">
        <activity
            android:name=".tumis_tempe_kacang_panjang"
            android:exported="false" />
        <activity
            android:name=".nugget_tempe"
            android:exported="false" />
        <activity
            android:name=".tempe_bacem"
            android:exported="false" />
        <activity
            android:name=".ikan_kakap_asam_manis"
            android:exported="false" />
        <activity
            android:name=".sup_ikan_kakap"
            android:exported="false" />
        <activity
            android:name=".resep_soto_medan"
            android:exported="false" />
        <activity
            android:name=".resep_burger_tempe"
            android:exported="false" />
        <activity
            android:name=".rekomendasi_minuman_modern"
            android:exported="false" />
        <activity
            android:name=".rekomendasi_minuman_tradisional"
            android:exported="false" />
        <activity
            android:name=".resep_minuman_bandrek"
            android:exported="false" />
        <activity
            android:name=".profil_edit"
            android:exported="false" />
        <activity
            android:name=".profil_pengguna"
            android:exported="false" />
        <activity
            android:name=".rekomendasi_makanan_modern"
            android:exported="false" />
        <activity
            android:name=".rekomendasi_makanan_tradisional"
            android:exported="false" />
        <activity
            android:name=".resep_jamur_tiram"
            android:exported="false" />
        <activity
            android:name=".resep_tempe"
            android:exported="false" />
        <activity
            android:name=".resep_ikan_kakap"
            android:exported="false" />
        <activity
            android:name=".resep_terbaru"
            android:exported="false" />
        <activity
            android:name=".resep_lontong_medan"
            android:exported="false" />
        <activity
            android:name=".tambahresep"
            android:exported="false" />
        <activity
            android:name=".resepsaya"
            android:exported="false" />
        <activity
            android:name=".history"
            android:exported="false" />
        <activity
            android:name=".profil"
            android:exported="false" />
        <activity
            android:name=".bahan_pilihan"
            android:exported="false" />
        <activity
            android:name=".makanan"
            android:exported="false" />
        <activity
            android:name=".minuman"
            android:exported="false" />
        <activity
            android:name=".makanan_dan_minuman"
            android:exported="false" />
        <activity
            android:name=".home_screen"
            android:exported="false" />
        <activity
            android:name=".halaman_register"
            android:exported="false" />
        <activity
            android:name=".halaman_login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>